body {
  margin: 0;
  overflow: hidden;
  background: #222;
}

canvas {
  display: block;
  margin: 0 auto;
  background: #87CEEB; /* céu */
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
}